{% extends "blog/base.html" %}
{% block content %}
    {% for snippet in snippets %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ snippet.author.profile.image.url }}" 
        width="100" 
        height="100" />
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{ snippet.author }}</a>
                <small class="text-muted">{{ snippet.date_generated |date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ snippet.topic }}</a></h2>
            <p class="article-content" style="font-family:verdana;">{{ snippet.branding_content }}</p>
        </div>
    </article>
    {% endfor %}
    {% for snippet in snippets %}
    <article class="media content-section" style="border-radius: 50px;
    background: #83bfd7; width: 90px; font-family:'Courier New'">
        <li>{{ snippet.keywords }}</li>
    </article>
    {% endfor %}
{% endblock content %}